.header {
    form {
        margin-top: 20px;
        input {
            display: block;
            margin: 0 auto;
        }
    }
    position: relative;
    margin-top: 0;
    padding: 0;
    .bg-backdrop {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(../img/graphics/dream_30da7566e3.jpg);
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: center;
        background-size: cover;
        color: white;
    }
    .overlay-primary {
    }
    a.active {
        background-color: rgba(0, 0, 0, 0.1);
        outline: 0;
    }
    .content {
        height: 100%;
        width: 100%;
        .content-lg {
            transform: translateY(-35%);
            h4 {
                text-transform: uppercase;
            }
            width: 40%;
            margin: 0 auto;
            .body-text {
                padding: 1rem;
            }
        }
        .content-sm {
            form {
                margin-top: -1rem;
            }
            position: absolute;
            top: 0;
            width: 100%;
            height: calc(100% - 46px);
            margin-top: 46px;
            img {
                max-width: 100%;
                max-height: 65%;
                margin: 0 auto;
                display: block;
            }
            h4 {
                text-transform: uppercase;
            }
            .btn {
                margin: 2rem auto 0;
                display: block;
            }
        }
    }
}