.music {

    @media #{$small-and-down}{
        padding-bottom: 165px;
    }
    
    @media #{$medium-and-up} {
        .btn {
            &.wide {
                width: 100%;
            }
        }
        .track-list {
            margin: 2em 70px 100px 0;
        }
        .right,
        .left {
            min-height: 100%;

        }
    }
    .btn {
        &.wide {
            margin-top: 15px;
        }
    }
    .left {
        padding: 0 2em;
        .album-info {
            position: relative;
            .text {
                position: absolute;
                bottom: 0;
                margin-left: 1.5rem;
                h5 {
                    margin-bottom: 0;
                }
            }
        }
    }
    .right {
        padding: 1em 2em 0;
    }
    .track-list {
        .material-icons {
            color: $gold;
            border-radius: 50%;
            border: 2px solid $gold;
            font-size: 2.4rem;
            @media #{$small-and-down} {
                // styles for small screens and down
                //mobile
                font-size: 1.6rem;
            }
        }
        .song {
            cursor: pointer;
            padding: 1rem;
            div {
                padding-bottom: 1rem;
                border-bottom: 1px solid $white;
                span {
                    transform: none;
                    font-size: 1.4rem;
                    padding-left: 1rem;
                }
            }
            @media #{$small-and-down} {
                // styles for small screens and down
                //mobile
                padding: .6rem 1rem;
            }
        }
    }
}