.music {

    
    
    @media #{$medium-and-up} {
        .btn {
            &.wide {
                width: 100%;
            }
        }
        .track-list {
            margin: 2em 70px 100px 0;
        }
        .right,
        .left {
            min-height: 100%;

        }
        .right {
            padding-top:90px;
        }

        h6 {
            font-size: 1.8rem;
        }
    }
    .btn {
        &.wide {
            margin-top: 15px;
        }
    }
    .left {
        background-color: $offWhite;
        padding: 0 2em;
        .album-info {
            position: relative;
            .text {
                position: absolute;
                color: $offBlack;
                bottom: 0;
                margin-left: 1.5rem;
                p {
                    margin: 0;
                    font-weight: 600;
                }
                h6 {
                    margin-bottom: 0;
                    font-weight: 300;
                }
            }
        }
    }
    .right {
        padding: 90px 2em 180px;
        height: 100%;
        overflow: auto;
    }

    .header {
        font-weight: bold;
    }
    .song {
        cursor: pointer;
        font-weight: 300;
        .title {
            overflow: hidden;
            position: relative;
            &:after {
                display: block;
                position: absolute;
                right: 0px;
                bottom: 0px;
                top: 0px;
                width: 30px;
                content: "";
                background: linear-gradient(to right, rgba(37, 37, 37, 0), rgb(37, 37, 37));
            }
            span {
                white-space: nowrap;
            }
        }
        i.material-icons {
            font-size: 2rem;
            display: none;
        }
        .num {
            display: inline;
        }
        &:hover, &.active {
            .title:after {
                background: linear-gradient(to right, rgba(175, 137, 51, 0), rgb(175, 137, 51));
            }
            i.material-icons {
                display: inline;
            }
            .num {
                display: none;
            }
            background-color: $gold;
        }
    }

    .song, .header {
        padding: 1rem;
        span {
            font-size: 1.4rem;
            @media #{$xsmall-and-down} {
                font-size: 1.3rem;
            }
        }
        @media #{$small-and-down} {
            // styles for small screens and down
            //mobile
            padding: .6rem 1rem;
        }
    }


    @media #{$small-and-down}{
        padding-bottom: 56px;
        .right {
            padding: 1rem 4rem 0 2rem;
            height: auto;
            overflow: visible;
        }
        .left {

            padding: 0;
            .album-info {
                .text {
                    position: relative;
                    transform: translateY(-22px);
                }
                .btn {
                    width: 58.3333333333%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}