nav.nav {
    z-index: 1;
    background-color: $primary-color;
    position: absolute;
    height: 46px;
    line-height: 1;
    bottom: -46px;

    .brand-logo.left {
        padding: 5px;
        padding-left: 40px;
    }
    @media #{$medium-and-up} {
        // styles for medium screens and larger
        //desktop
    }
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    ul {
        text-align: center;
        float: none;
        li {
            display: inline-block;
            a {
                padding: 0;
                height: 100%;
                margin-right: 2px;
                span{
                    border-right: 2px $offWhite solid;
                    margin-top: 11px;
                    margin-bottom: 11px;
                    padding: 0 55px;
                    display: inline-block;
                    width: calc(100% + 2px);
                }
                &.active, &:hover {
                    background-color: $gold;
                }
            }
            &:last-child a {
                margin-right: 0;
                span{
                    border-right: none;
                }
            }
        }
        span {
            font-size: 1.6rem;
        }
        i.material-icons {
            font-size: 3.2rem;
        }
    }
}