.player {
    .large {
        @media #{$small-and-down} {
            display: none;
        }
        background-color: $offWhite;
        position: fixed;
        width:100%;
        height: 70px;
        bottom: 0;
        z-index: 2;
        .progress {
            margin: 0;
            background-color: $white;
            overflow: visible;
            .determinate {
                background-color: $gold;
                transition: none;
                .handle {
                    position: relative;
                    top: 2.5px;
                    height: 0px;
                    width: 0px;
                    border-radius: 100%;
                    background-color: $gold;

                    transition: height .5s, width .5s, top .5s;
                }
            }
        }
        &:hover {
            .progress .determinate .handle {
                height: 15px;
                width: 15px;
                top: -5px;
            }
        }
        img {
            height: 100%;
        }
        .info {
            padding: 10px 2rem 0;
            h6 {
                margin-bottom: 0;
            }
            h7 {
                opacity: .75;
            }
        }
        .controls {
            height: 100%;
            padding: 0 1rem;
            .material-icons {
                cursor: pointer;
                font-size: 3.5rem;
                margin: 0 .5rem;
            }
        }
    }
    .small {
        .fixed-action-btn {
            i {
                color: $offBlack; 
            }
            bottom: 55px;
            right: 18px;
        }
    	@media #{$medium-and-up} {
            display: none;
        }
    }
}