.player {
    .large {
        @media #{$small-and-down} {
            display: none;
        }
        background-color: $offWhite;
        position: fixed;
        width:100%;
        height: 70px;
        bottom: 0;
        z-index: 2;
        .progress {
            margin: 0;
            background-color: $white;
            .determinate {
                background-color: $gold;
            }
        }
        img {
            height: 100%;
        }
        .info {
            padding: 1rem;
            h5,
            h6 {
                margin: 0;
            }
        }
        .controls {
            height: 100%;
            padding: 0 1rem;
            .material-icons {
                font-size: 4rem;
                margin: 0 .5rem;
            }
        }
    }
    .small {
        .fixed-action-btn {
            bottom: 55px;
            right: 18px;
        }
    	@media #{$medium-and-up} {
            display: none;
        }
    }
}