<section class="header" ng-controller="HeaderCtrl" class="relative valign-wrapper">
    <div class="bg-backdrop hide-on-small-only"></div>
    <div class="overlay-primary hide-on-small-only"></div>
    <div class="valign-wrapper content " in-view="stick($inview)">
        <div class="valign content-lg hide-on-small-only">
            <div class="row no-margin">
                <div class="col s12">
                    <h4 class="center">{{header.headerText}}</h4>
                    <div class="center body-text">{{header.desktop.text}}</div>
                    <a class="waves-effect waves-light btn wide gold abs-center" ng-href="{{header.mobile.btnHref}}">{{header.mobile.btnText}}</a>
                </div>
            </div>
        </div>
        <div class="hide-on-med-and-up content-sm">
            <img src="{{header.mobile.leadImg}}" alt="">
            <a class="waves-effect waves-light btn gold wide" ng-href="{{header.mobile.btnHref}}">{{header.mobile.btnText}}</a>
        </div>
    </div>
</section>