<nav class="z-depth-2 nav sticky" ng-controller="NavCtrl">
    <!--<a class="brand-logo left" ng-href={{nav.logo.href}}>
    	<img ng-src="{{nav.logo.url}}" alt="">
    </a>-->
    <ul class="right">
        <li ng-repeat="item in nav.links">
        	<a ng-class="curPage === item.href ? 'active' : ''" ng-href="{{item.href}}">
        		
        		<span class="content">
                <i class="{{item.class}}">{{item.icon}}</i> 
                <span class="hide-on-small-only">{{item.name}}</span>
                </span>
        	</a>
        </li>
    </ul>
</nav>