<html lang="en" ng-app="mcCreaDeezer">

<head ng-controller="HeadCtrl">
    <meta ng-repeat="item in head.metas" name="{{item.name}}" http-equiv="{{item.httpEquiv}}" content="{{item.content}}" charset="{{item.charset}}">
    <link ng-repeat="item in head.links" rel="{{item.rel}}" ng-href="{{item.href}}">
    <title>McCrea Deezer</title>
    
    <meta property="og:title" content="McCrea Deezer" />
    <meta property="og:url" content="http://mccrea-deezer.herokuapp.com" />
    <meta property="og:image" content="http://mccrea-deezer.herokuapp.com/img/graphics/facebook-share.jpg" />
    <meta property="og:description" content="Listen to McCrea Deezer's new project LAIKI" />
    <meta property="description" content="Listen to McCrea Deezer's new project LAIKI" />
    <meta property="keywords" content="McCrea Deezer, LAIKI, Hip-Hop, Detroit, Local, Music, Life as I know it, Shapes, Aint I" />

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header>
        <div ng-include="'partials/nav.html'"></div>
    </header>

    <main ng-view></main>

    <footer>
        <div ng-include="'partials/social.html'"></div>
        <div ng-include="'partials/player.html'"></div>
    </footer>

    <script src='/js/libs.js'></script>
    <script src='/js/script.js'></script>
</body>

</html>